{% extends 'base.jinja2' %}

{% block title %}Update Post{% endblock %}

{% block content %}
  <h1>Edit Post</h1>

  <form method="POST" action="/posts/{{ post.id }}/edit">
    <label class="d-flex gap-2 mb-3">
      Title
      <input name="title" value="{{ post.title }}">
    </label>

    <label class="d-flex gap-2 mb-3">
      Post Content
      <textarea name="content">{{ post.content }}</textarea>
    </label>

    <button formaction="/users" formmethod="get" class="btn btn-outline-primary">
      Cancel
    </button>
    <button type="submit" class="btn btn-outline-dark">Save</button>
  </form>
{% endblock %}