{% extends 'base.jinja2' %}

{% block title %}Edit {{ user.first_name }} {{ user.last_name }}{% endblock %}}

{% block content %}
  <h1>Edit a user</h1>

  <form method="POST">

    <form method="POST">
      <label for="first_name" class="d-flex gap-2 mb-3">
        First Name
        <input type="text" name="first_name" placeholder="first name" value="{{ user.first_name }}">
      </label>

      <label for="last_name" class="d-flex gap-2 mb-3">
        Last Name
        <input type="text" name="last_name" placeholder="last name" value="{{ user.last_name }}">
      </label>

      <label for="image_url" class="d-flex gap-2 mb-3">
        Image URL
        <input type="text" name="image_url" placeholder="profile picture (optional)" value="{{ user.image_url }}">
      </label>

      <button class="btn btn-outline-primary">
        <a href="/users" class="text-decoration-none">Cancel</a>
      </button>
      <button type="submit" class="btn btn-outline-dark">Save</button>

    </form>
{% endblock %}