{% extends 'base.jinja2' %}

{% block title %}Create User{% endblock %}

{% block content %}
  <h1>Create a user</h1>

  <form method="POST">
      <label for="first_name" class="d-flex gap-2 mb-3">
        First Name
        <input type="text" name="first_name" placeholder="first name">
      </label>

      <label for="last_name" class="d-flex gap-2 mb-3">
        Last Name
        <input type="text" name="last_name" placeholder="last name">
      </label>

      <label for="image_url" class="d-flex gap-2 mb-3">
        Image URL
        <input type="text" name="image_url" placeholder="profile picture (optional)">
      </label>

    <button type="submit" class="btn btn-outline-dark">Create User</button>
  </form>
{% endblock %}